<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>homepage</h2>
<h3>access test</h3>

<div th:if="${loggedUser == null}">
    <p>Hello Guest!</p>
</div>
<div th:if="${loggedUser != null}">
    <p><span>Hello </span><span th:text="${loggedUser.firstName}"></span><span>!</span></p>
    <p>Your roles:
        <span th:each="role :${loggedUser.roles}">
                <span th:text="${role.role}"></span>,
            </span>
    </p>
</div>
<p>*****************************************************************************************</p>
<p><a href="/login">login</a></p>
<p><a href="/logout">logout</a></p>
<p><a href="/super/super-admin-content">super-admin content</a></p>
<p><a href="/admin/admin-content">admin content</a></p>
<p><a href="/user/user-content">user content</a></p>
</body>
</html>