<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#submit').click(function (event) {

                var pass1 = $('#pass1').val();
                var pass2 = $('#pass2').val();
                var length = pass1.length;

                if (length < 5) {
                    alert("Password must have at least 5 characters.");
                    event.preventDefault();
                }
                if(pass1 != pass2) {
                    alert("Passwords do not match!");
                    event.preventDefault();
                }

            })
        });
    </script>
</head>
<body>
<h3>Reset password:</h3>
<p>This form is only one time use.</p>
<form action="/reset-password/reset" method="post">
    <input th:value="${param.param}" type="hidden" name="param"/>
    <table>
        <tr>
            <td>new password:</td>
            <td><input id="pass1" type="password" name="password" minlength="5" required="required"/></td>
        </tr>
        <tr>
            <td>confirm new password:</td>
            <td><input id="pass2" type="password" name="confPassword" minlength="5" required="required"/></td>
        </tr>
        <tr>
            <td colspan="2"><input id="submit" type="submit" value="reset"></td>
        </tr>
    </table>
</form>
</body>
</html>